.contact-section {
  margin: 2em;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  border: 0.2rem solid rgb(17, 15, 15);
  margin-top: 5em;
}
.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.contact-form textarea {
  resize: vertical;
  height: 100px;
}
.contact-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.contact-form input[type="submit"]:hover {
  background-color: #218838;
}

.contact-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
